target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
# ------
.gradle
/build/
.gradle/
*.class

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Ignore Gradle GUI config
gradle-app.setting

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.shelf
/*.iws
/buildSrc/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/out
/out

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Log file
*.log
config/application-default.properties
gradle/
gradlew
gradlew.bat
logs/